# OpenTelemetry Collector Ports
OTEL_GRPC_PORT=4319
OTEL_HTTP_PORT=4318
OTEL_METRICS_PORT=8889
OTEL_INTERNAL_PORT=8888

# Storage & Backend Service Ports
PROMETHEUS_PORT=9090
LOKI_PORT=3100
TEMPO_PORT=3200

# Grafana Dashboard UI & Credentials
GRAFANA_PORT=3001
GRAFANA_USER=admin
GRAFANA_PASSWORD=admin
